body {
  font-family: sans-serif;
}

/*Seccion cabecera*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(223, 227, 223);
}

.header .icono {
  display: flex;
  font-size: 25px;
  width: 80%;
  margin: 10px;
}

.header .btn {
  background-color: rgb(53, 165, 22);
  color: white;
  padding: 10px;
  font-size: 1rem;
}

.header .btn-secondary {
  color: white;
  background-color: rgb(78, 77, 79);
}

/*Seccion imagenes*/
section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.row img {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: block;
  margin: 5px;
}

/*Card*/
section .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-bottom: 10px;
}